<footer style="background-color: #D8BEFF;">
  <div class="container"> 
    <div class="row">
      <div class="col-sm-6">
        <nav class="navbar">
        <div class="container-fluid">
          <div class="d-flex flex-column" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link nav-link-custom" aria-current="page" href="#joms">JOMS</a></li>
              <li class="nav-item"><a class="nav-link nav-link-custom" href="#sobre_nos">Sobre mim</a></li>
              <li class="nav-item"><a class="nav-link nav-link-custom " href="#servicos">Serviços</a></li>
              <li class="nav-item"><a class="nav-link nav-link-custom" href="#portefolio">Portefolio</a></li>
              <li class="nav-item"><a class="nav-link nav-link-custom" href="#contactos">Contactos</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

   <div class="col-sm-6 d-flex justify-content-end">
  <nav class="navbar">
    <div class="container-fluid p-0">
      <div id="navbarNav">
        <ul class="navbar-nav d-flex flex-column align-items-end">

          <li class="nav-item mb-4">
            <a href="https://api.whatsapp.com/send/?phone=932042934" target="_blank">
              <i class="fa-solid fa-phone fa-xl" style="color: #742DE1"></i>
            </a>
          </li>

          <li class="nav-item mb-4">
            <a href="mailto:jomsagencia@gmail.com">
              <i class="fa-solid fa-envelope fa-xl" style="color:  #742DE1"></i>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  </div>
    </div>
  </div>
</footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>